<div class="sidenav">
  <a class="text-white">
      <img src="../../assets/logo-football.png" width="50px" height="50px" alt="logo" /> Football :
    </a>
        <a routerLink="/football-view/head-to-head" class="active head">Head to Head</a>
        <div class="dropdown show">
            <a class="btn btn-secondary dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Championships
            </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton " >
            <a class="dropdown-item" routerLink ="/football-view/ligue-1">Ligue 1</a>
            <a class="dropdown-item" routerLink ="/football-view/ligue-2">Ligue 2</a>
            <a class="dropdown-item" routerLink ="/football-view/la-ligua">La ligua</a>
            <a class="dropdown-item" routerLink ="/football-view/champions-league">Champions League</a>
          </div>
        </div>
      
</div>
